body{
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

#Title{
    font-size: 25px;
    text-align: center;
}

#ProfilePicMenu{
    width: 40px;
    height: 40px;
}

#TopNav .active{
    color:cornflowerblue!important;
    display: flex;
}

#TopNav .active::after{
    content:"";
    background-color: cornflowerblue;
    height:2px;
    display: block;
    margin-top:5px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    display: flex;
}

.search_input{
    color: white;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: none;
    width: 500px;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    caret-color:cornflowerblue;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    color: cornflowerblue;
}

.search_icon{
    height: 20px;
    width: 60px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

#MusicPlayer{
    color: white;
    text-align: center;
    
}

#MusicPlayerContent{
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}

#NowPlaying{
    width: 70px;
    height: 70px;
}

#MusicPlayer #ArtistName{
    font-size: 15px;
    color:cornflowerblue
}

.hp_slide{
    width:250px;
    background:white;
    height:5px;
}
.hp_range{
    width:0;
    background:cornflowerblue;
    height:5px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume input[type=range] {
    display: none;
}

.volume .bar-hoverbox {
    padding: 10px 15px;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.volume .bar-hoverbox:hover {
    opacity: 1;
    cursor: pointer;
}
.volume .bar {
    background: #999;
    height: 7px;
    width: 120px;
    border-radius: 15px;
    overflow: hidden;
    pointer-events: none;
}
.volume .bar .bar-fill {
    background: cornflowerblue;
    width: 0%;
    height: 100%;
    background-clip: border-box;
    pointer-events: none;
}

#tabs{
    color: white;
}

#tabs h6.section-title{
    color: cornflowerblue;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs  {
    color:  white;
    background-color: transparent;
    border-color: transparent transparent;
    border-bottom: 2px solid cornflowerblue!important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color:  white;
    font-size: 20px;
}

#tabs .nav-tabs .nav-link:hover{
    color:  cornflowerblue;
 
}

#tabs .nav-tabs .nav-link.active{
    color:  cornflowerblue;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

#nav-tabContent{
    color:white;
}

.card{
    margin-right: 20px;
    width: 15rem;
    height:15rem;
    background-color: black;
}

.card-img{
    transition: transform 0.5s;
    width: 200px;
    height: 200px;
}

.card-img:hover{
    transform: scale(1.05);
}


.img-titre{
    width: 40px;
    height: 40px;
}
